{% extends "base.html" %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important {
        color: #336699;
    }

</style>
{% endblock %}
{% block content %}
<table class='table table-bordered'>
    <thead style='position:sticky; top :0'>
        <tr>
            <th class='text-uppercase' width="20%">Employee Name</th>
            {% for deduction in deductions %}
            <td class='text-capitalize align-middle fw-medium'>
                {{ deduction.account.accountTitle }}
            </td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td class='lead align-middle text-truncate' style="width : 5%">
                {{ employee.LastName }},
                {{ employee.FirstName}} {{employee.MiddleName|slice(0, 1) }}.
            </td>
            {% for deduction in deductions %}
            <td class='lead align-middle p-1 m-0' width="10%">
                <input 
                    type="text" class='text-center form-control form-control-lg rounded-0 border-right-0 border-left-0'
                    placeholder="{{ deduction.account.accountTitle }}"
                    name="records[{{employee.Employee_id}}][{{deduction.dCode}}]" value="">
            </td>
            {% endfor %}

        </tr>
        {% endfor %}
        <tr>
            <td colspan="{{ deductions|length + 1 }}" class='p-0' id='btnShowMore'>
                <button class='rounded-0 btn btn-primary btn-block w-100 text-uppercase lead'>Show More</button>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
// Generate a click listener for show more button using vanilla javascript
document.querySelector('#btnShowMore').addEventListener('click', function() {
    // Change the content of the button to spinner
    document.querySelector('#btnShowMore').innerHTML = `
        <button class='rounded-0 btn btn-primary btn-block w-100 text-uppercase lead'>
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </button>
    `;

    setTimeout(() => {
        // Change the content of the button to show less
        
    }, 2000);


    // Ajax request for fetching more employees using fetch api
    fetch('/post-deductions/remaining')
    .then(response => response.json())
    .then(data => {
        document.querySelector('#btnShowMore').innerHTML = `
            <button class='rounded-0 btn btn-info btn-block w-100 text-uppercase lead'>Show Less</button>
        `;
    });
});
</script>
{% endblock %}